services:
  #Banco de Dados MySQL
  db:
    image: mysql:8.0
    container_name: hortifruti-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3307:3306" # Porta externa 3307 para não conflitar se você tiver mysql no PC
    volumes:
      - mysql_data:/var/lib/mysql # Volume para não perder dados quando desligar

  #Keycloak
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.5
    container_name: hortifruti-keycloak
    command: start-dev # Modo dev: HTTP e banco em memória
    environment:
      KEYCLOAK_ADMIN: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
      # Habilita acesso HTTP (sem SSL)
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_URL: "http://localhost:8081"
    ports:
      - "8081:8080" # Acessível em http://localhost:8080
    restart: on-failure

  #API .NET
  api:
    image: littleanjel/api-hortifruti:latest
    build: .
    container_name: hortifruti-api
    restart: on-failure
    command: ["--migrate"]
    ports:
      - "5030:8080" #A documentação da API ficará acessível em http://localhost:5030/scalar
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - ConnectionStrings__DefaultConnection=Server=db;Database=hortifruti;User=root;Password=;
      # Configuração
      - Keycloak__Authority=${KEYCLOAK_URL}
    depends_on:
      - db

  #Angular
  frontend:
    image: littleanjel/angular-hortifruti:latest
    container_name: hortifruti-web
    restart: on-failure
    pull_policy: always
    ports:
      - "4200:80" #Sua API ficará acessível em http://localhost:4200/homepage
    depends_on:
      - api

volumes:
  mysql_data:
